# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Datasets — too large for GitHub
data/IRMAS/
data/OpenMIC/
data/cache/

# Model checkpoints — too large, store separately
models/*.pt
models/*.pth

# Temp audio files
tmp/

# Outputs
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
